/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Fondo gris claro */
    color: #000000; /* Texto en negro */
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to bottom, #4fa2ee, #007bff); /* Fondo degradado de azul claro a azul oscuro */
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 20px 0;
}

section {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Blanco */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

h1 {
    color: #000; /* Negro (resaltado) */
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000; /* Cambiado a negro */
}

input[type="number"],
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    color: #000; /* Cambiado a negro */
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

button {
    background: linear-gradient(to bottom, #4fa2ee, #007bff); /* Fondo degradado de azul claro a azul oscuro */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(to bottom, #007bff, #4fa2ee); /* Fondo degradado de azul oscuro a azul claro al pasar el cursor */
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    color: #000; /* Cambiado a negro */
}

center {
    text-align: center;
}

/* Estilos para la sección "Registros" */
aside {
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to bottom, #4fa2ee, #007bff); /* Fondo degradado de azul claro a azul oscuro */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h2 {
    color: #fff; /* Texto blanco */
}

/* Estilos para los registros en la sección "Registros" */
ul#registros {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

ul#registros li {
    font-family: 'Times New Roman', Times, serif;
    color: #ff5555; /* Rojo claro */
    font-size: 12px;
    margin-bottom: 10px; /* Separación entre registros */
    padding-left: 20px;
    background-image: url('bullet.png');
    background-repeat: no-repeat;
    background-position: 0 6px;
    border: 2px solid #ffb3b3; /* Rojo */
    border-radius: 5px;
    padding: 10px 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: left; /* Alinea el texto a la izquierda */
}



/* Estilos para el enlace "Regresar al index" */
a.enlace-regresar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff66b3; /* Color de fondo rosa */
    color: #fff; /* Texto blanco */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición de color de fondo */
    margin-top: 10px; /* Separación desde el encabezado */
}

/* Estilos para el enlace al pasar el cursor */
a.enlace-regresar:hover {
    background-color: #ff3385; /* Color de fondo rosa más oscuro al pasar el cursor */
}
