/* estilosalu.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #095b92;
    color: rgb(248, 244, 244);
    text-align: center;
    padding: 20px;
}

h1, h3 {
    margin: 0;
    font-style: italic;
}

#alumnos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

#alumnos-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.alumno {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    width: 280%; /* Ancho al 100% del contenedor */
}

.alumno img {
    width: 100px;
    height: 100px;
    border-radius: 5px 0 0 5px;
}

.alumno .info {
    flex: 1;
    padding: 10px;
}

.alumno h2 {
    font-size: 20px;
    margin: 0;
    text-align: left;
}

.alumno p {
    font-size: 16px;
    margin: 0;
    text-align: left;
}

/* Estilos para centrar y dar color azul a los elementos */
#alumnos-list h1,
#alumnos-list h3 {
    background-color: #1170af;
    color: rgb(15, 14, 14);
    text-align: center;
    padding: 10px;
    margin: 0;
}
